<body>
    <div class="screamer">
        <h1>PERDIO</h1>
        <a class="botonMapa" href='@Url.Action("Index")'>Volver al Menú</a>

        <img class="perdio" src="~/img/screamer.gif">
    </div>
</body>