<body>
    <div clss="screamer">
        <h1>PERDIO</h1>
        <img src="~/img/screamer.gif">
    </div>
    
    <a href='@Url.Action("Index")'>Volver al Menú</a>

    <script>
        localStorage.removeItem('tiempo'); 
    </script>
</body>