@{
    var Codigos = new Dictionary<int, (string, int)>
    {
        { 1, ("Numero A para el Hall 2", Escape.DigitosHall2[0]) },
        { 2, ("Numero B para el Hall 2", Escape.DigitosHall2[1]) },
        { 3, ("Numero C para el Hall 2", Escape.DigitosHall2[3]) },
        { 4, ("Numero D para el Hall 2", Escape.DigitosHall2[2]) },
        { 7, ("Numero A para el Hall 1", Escape.DigitosHall1[0]) },
        { 8, ("Numero B para el Hall 1", Escape.DigitosHall1[1]) },
        { 9, ("Numero C para el Hall 1", Escape.DigitosHall1[2]) },
        { 10, ("Numero A para la Exit", Escape.DigitosExit[0]) },
        { 11, ("Numero B para la Exit", Escape.DigitosExit[2]) },
        { 12, ("Numero C para la Exit", Escape.DigitosExit[5]) },
        { 13, ("Numero D para la Exit", Escape.DigitosExit[3]) },
        { 14, ("Numero E para la Exit", Escape.DigitosExit[1]) },
        { 15, ("Numero F para la Exit", Escape.DigitosExit[4]) }
    };
}

<body class="progreso">

    <a href='@Url.Action("Mapa")'>Voler al Mapa</a>

    <h1>Vidas Restantes: @Escape.vidas</h1>

    @for(int i=0; i < Escape.salasEscapadas.Length; i++){
        if(i > 0){
            @if(i == 1){
                <h2>Seccion 1</h2>
            }
            else if(i == 6){
                <h2>Seccion 2</h2>
            }
            else if(i == 10){
                <h2>Seccion 3</h2>
            }

            if(i != 5 && i != 6 && i != 16){
                <p>Sala @(i):</p>
            }
            else if(i == 5){
                <p>Hall 2:</p>
            }
            else if(i == 6){
                <p>Hall 1:</p>
            }
            else if(i == 16){
                <p>Exit:</p>
            }
            
            @if(Escape.salasEscapadas[i] == false)
            {
                <p class="NoEscapo">No escapo aún</p>
            }else{
                <p class="Escapo">Escapó!</p> 

                if(Codigos.ContainsKey(i))
                {
                    (string text, int digit) = Codigos[i];
                    <p>@text: <b>@digit</b></p>
                }
                
            }<br>
        }
    }
</body>