<head>
    <script src="~/js/site.js"></script>
</head>
<body class="sala2">
    @if(!(Escape.salasEscapadas[2])){
        <h2 class="Temportizador">Temporizador: <span id="tiempo"></span></h2>

        <a class="botonMapa" href='@Url.Action("Pistas")'>Pistas</a>

        <div class = "suspenso">
            <audio controls autoplay>
                <source src="~/sounds/MusicaSuspenso.mp3">
            </audio>
        </div>
        
        <div class="Contexto">
            <img src="/img/Balloon_Boy.jpg">
            <h3>Balloon Boy tenía un salón con una sola rejilla de ventilación, cuadrada y de 1m de alto por 1m de ancho. Balloon Boy tenía un problema ocular, y la ventana dejaba entrar mucha luz. Te llamo a ti y te pidió que alterara la ventana para que sólo entrara la mitad de la luz. Pero tenía que seguir siendo cuadrada y con las mismas dimensiones de 1x1 metros. Solo se puede cambiar la forma de la ventilación. ¿Cuál sería la forma de la ventilación para que Balloon Boy pueda cumplir su objetivo?</h3>

            <form class="Form2" action='@Url.Action("Habitacion")'>
                <p>¿Cuál es la respuesta?</p>
                <input type="text" name="clave" autocomplete="off" required>
                <input type="submit" value="Enviar Respuesta">
            </form>

            @if(ViewBag.Error != null){
                <h3 class="error">@ViewBag.Error</h3>
            }
        </div>
    }
    else{
        <b class="finishedRoom">Ya completo la sala!</b>
        <a class="botonMapa" href='@Url.Action("Mapa")'>Volver al Mapa</a>
    }
</body>