<head>
    <script src="~/js/site.js"></script>
</head>
<body>
    @if(!Escape.salasEscapadas[11]){

        <h2 class="Temportizador">Temporizador: <span id="tiempo"></span></h2>
        
        <a class="botonMapa" href='@Url.Action("Pistas")'>Pistas</a>

        <div class = "suspenso">
            <audio controls autoplay>
                <source src="~/sounds/MusicaSuspenso.mp3">
            </audio>
        </div>

        <p class="consigna">Estás encerrado en una habitación con solo 2 salidas: 2 puertas, vigiladas por 2 centinelas. Una puerta lleva a la libertad y la otra lleva a una sala con un dragón feroz. Antes de elegir cualquiera de las puertas, puedes hacer una pregunta a un centinela. El problema es que uno de ellos siempre dice la verdad y el otro siempre miente.</p>

        <form action='@Url.Action("Habitacion")'>
            <p class="pregunta1">¿Qué puerta deberias mencionar para poder escapar? (Mencionar el objeto que se encuentra en esa sala)</p>
            <input class="input" type="text" name="clave" autocomplete="off" required>
            <input type="submit" value="Enviar">
        </form>

        @if(ViewBag.Error != null){
            <b class="error">@ViewBag.Error</b>
        }
    }
    else{
        <b class="finishedRoom">Ya completo la sala!</b>
        <a class="botonMapa" href='@Url.Action("Mapa")'>Volver al Mapa</a>
    }
</body>