<head>
    <script src="~/js/site.js"></script>
</head>
<body>
    @if(!Escape.salasEscapadas[9]){
        <h2 class="Temportizador">Temporizador: <span id="tiempo"></span></h2>

        <div class = "suspenso">
            <audio controls autoplay>
                <source src="~/sounds/MusicaSuspenso.mp3">
            </audio>
        </div>

        <p class="consigna">Entras al baño 2 y te encuentras con 3 puertas, cada uno tiene una nota y estas llevan a una parte del codigo para escapar del Hall 1. Estas dicen lo siguiente:</p>
        <ul class="ListConsigna">
            <li>La puerta de la izquierda lleva a un ardiente infierno</li>
            <li>La puerta del centro a un brutal asesino.</li>
            <li>La puerta de la derecha a un león que no ha comido en 3 meses. </li>
        </ul>
        <form action='@Url.Action("Habitacion")'>
            <p class="pregunta">¿Cual es la puerta correcta?</p>
            <input class="input" type="text" name="clave" autocomplete="off" required>
            <input type="submit" value="Enviar">
        </form>

        @if(ViewBag.Error != null){
            <b class="error1">@ViewBag.Error</b>
        }
    }
    else{
        <b class="finishedRoom">Ya completo la sala!</b>
        <a class="botonMapa" href='@Url.Action("Mapa")'>Volver al Mapa</a>
    }
</body>