<head>
    <script src="~/js/site.js"></script>
</head>
<body>    
    @if(!Escape.salasEscapadas[4]){
        <h2 class="Temportizador">Temporizador: <span id="tiempo"></span></h2>

        <a class="botonMapa" href='@Url.Action("Pistas")'>Pistas</a>

        <div class = "suspenso">
            <audio controls autoplay>
                <source src="~/sounds/MusicaSuspenso.mp3">
            </audio>
        </div>

        <div class="Pregunta">
            <img src="~/img/nino5.png">
            <p class="consigna">Estas en una sala completamente oscura, de repente escuchas la voz de un niño que te muesta 3 objetos que apenas puedes diferenciar, una antorcha a leña, una antorcha electrica y una vela, luego, te da una cerilla.</p>
        </div>

        <form action='@Url.Action("Habitacion")'>
            <p class="pregunta">¿Que encenderias primero?</p>
            <input class="input" type="text" name="clave" autocomplete="off" required>
            <input type="submit" value="Enviar Respuesta">
        </form>

        @if(ViewBag.Error != null){
            <h3 class="error">@ViewBag.Error</h3>
        }
    }
    else{
        <b class="finishedRoom">Ya completo la sala!</b>
        <a class="botonMapa" href='@Url.Action("Mapa")'>Volver al Mapa</a>
    }
</body>