<head>
    <script src="~/js/site.js"></script>
</head>
<body>
    @if(!Escape.salasEscapadas[10]){

        <h2 class="Temportizador">Temporizador: <span id="tiempo"></span></h2>

        <div class = "suspenso">
            <audio controls autoplay>
                <source src="~/sounds/MusicaSuspenso.mp3">
            </audio>
        </div>

        <p class="consigna">Los amigos de Koska, estaban juntando plata para comprarle un regalo. Al principio, sus 10 amigos contribuyeron, pero 2 de ellos se echaron atrás. Cada uno de los 8 que sí pusieron plata tuvo que aportar otros 10 euros para recuperar la cantidad. </p>

        <form action='@Url.Action("Habitacion")'>
            <p class="pregunta">¿Cuánto dinero pensaban recaudar entre todos al principio?</p>
            <input class="input" type="number" name="clave" min="0" autocomplete="off" required>
            <input type="submit" value="Enviar">
        </form>

        @if(ViewBag.Error != null){
            <b class="error">@ViewBag.Error</b>
        }

        <img class="party1" src="~/img/PartyRoom.webp">
    }
    else{
        <b class="finishedRoom">Ya completo la sala!</b>
        <a class="botonMapa" href='@Url.Action("Mapa")'>Volver al Mapa</a>
    }
</body>