<body>
    @if(!Escape.salasEscapadas[7]){
        @if(ViewBag.Error != null){
            <p>@ViewBag.Error</p>
        }

        <h2>Temportizador: <span id="tiempo"></span></h2>

        <script>
            // Load the saved timer state from localStorage or set to 600 if none exists
            let tiempo = parseInt(localStorage.getItem('tiempo')) || 3600;
                
            let timer = setInterval(function() {
                let minutes = Math.floor(tiempo / 60);
                let seconds = tiempo % 60;
                document.getElementById('tiempo').innerText = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
        
                // Save the current timer state to localStorage
                localStorage.setItem('tiempo', tiempo);
            
                if (tiempo <= 0) {
                    clearInterval(timer);
                    alert("¡Se acabó el tiempo!");
                    // Reset timer in localStorage when the game is lost
                    localStorage.removeItem('tiempo'); // This effectively resets the timer for a new game
                }
                tiempo--;
            }, 1000); // Changed interval to 1000ms (1 second) for accuracy
        </script>

        <p>Un niño te cuenta que si resuelves este acertijo, te daria una parte del codigo para salir del Hall 1. Esto fue lo que les dijo:</p>
        <p>Trae algo para que ocupe todo el arcade, pero pequeño para que quepa en tu bolsillo".</p>
        <form action='@Url.Action("Habitacion")'>
            <p>¿Que le tendrias que entregar para que te de el codigo?</p>
            <input type="text" name="clave" autocomplete="off" required>
            <input type="submit" value="Enviar">
        </form>
    }
    else{
        <b>Ya completo la sala!</b>
        <a href='@Url.Action("Mapa")'>Volver al Mapa</a>
    }
</body>