<head>
    <script src="~/js/site.js"></script>
</head>
<body>
    @if(!Escape.salasEscapadas[15]){
        <h2 class="Temportizador">Temporizador: <span id="tiempo"></span></h2>

        <a class="botonMapa" href='@Url.Action("Pistas")'>Pistas</a>

        <div class = "suspenso">
            <audio controls autoplay>
                <source src="~/sounds/MusicaSuspenso.mp3">
            </audio>
        </div>

        <p class="consigna">Un hombre entra en un bar y le pide al camarero un vaso de agua. El barman se arrodilla buscando algo, saca un arma y le apunta al hombre que le acaba de hablar. El hombre dice «gracias» y se va</p>
        <form action='@Url.Action("Habitacion")'>
            <p class="pregunta">¿Que tenia el hombre para que le mostraran un arma?</p>
            <input class="input" type="text" name="clave" autocomplete="off" required>
            <input type="submit" value="Enviar">
        </form>

        @if(ViewBag.Error != null){
            <b class="error">@ViewBag.Error</b>
        }
    }
    else{
        <b class="finishedRoom">Ya completo la sala!</b>
        <a class="botonMapa" href='@Url.Action("Mapa")'>Volver al Mapa</a>
    }
</body>