<body>
    @if(!Escape.salasEscapadas[11]){

        <h2 class="Temportizador">Temportizador: <span id="tiempo"></span></h2>
        
        <a class="botonMapa" href='@Url.Action("Pistas")'>Pistas</a>

        <script>
            // Load the saved timer state from localStorage or set to 600 if none exists
            let tiempo = parseInt(localStorage.getItem('tiempo')) || 900;
                
            let timer = setInterval(function() {
                let minutes = Math.floor(tiempo / 60);
                let seconds = tiempo % 60;
                document.getElementById('tiempo').innerText = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
        
                // Save the current timer state to localStorage
                localStorage.setItem('tiempo', tiempo);
            
                if (tiempo <= 0) {
                    clearInterval(timer);
                    alert("¡Se acabó el tiempo!");
                    // Reset timer in localStorage when the game is lost
                    localStorage.removeItem('tiempo'); // This effectively resets the timer for a new game
                }
                tiempo--;
            }, 1200); // Changed interval to 1000ms (1 second) for accuracy
        </script>

        <p class="consigna">Estás encerrado en una habitación con solo 2 salidas: 2 puertas, vigiladas por 2 centinelas. Una puerta lleva a la libertad y la otra lleva a una sala con un dragón feroz. Antes de elegir cualquiera de las puertas, puedes hacer una pregunta a un centinela. El problema es que uno de ellos siempre dice la verdad y el otro siempre miente.</p>

        <form action='@Url.Action("Habitacion")'>
            <p class="pregunta">¿Qué pregunta harías para escapar?</p>
            <input class="input" type="text" name="clave" autocomplete="off" required>
            <input type="submit" value="Enviar">
        </form>

        @if(ViewBag.Error != null){
            <p class="error">@ViewBag.Error</p>
        }
    }
    else{
        <b class="finishedRoom">Ya completo la sala!</b>
        <a class="botonMapa" href='@Url.Action("Mapa")'>Volver al Mapa</a>
    }
</body>