<head>
    <script src="~/js/site.js"></script>
</head>
<body>
    @if(!Escape.salasEscapadas[12]){
        <h2 class="Temportizador">Temporizador: <span id="tiempo"></span></h2>

        <a class="botonMapa" href='@Url.Action("Pistas")'>Pistas</a>

        <div class = "suspenso">
            <audio controls autoplay>
                <source src="~/sounds/MusicaSuspenso.mp3">
            </audio>
        </div>

        <p class="consigna">En la siguiente foto se puede apreciar varios elementos en la cocina, pero uno de ellos no encaja</p>
        <form action='@Url.Action("Habitacion")'>
            <p class="pregunta">Cual es el objeto que no encaja?</p>
            <input class="input" type="text" name="clave" autocomplete="off" required>
            <input type="submit" value="Enviar">
        </form>

        @if(ViewBag.Error != null){
            <b class="error1">@ViewBag.Error</b>
        }

        <img class="cocina" src="~/img/Cocina.webp">
    }
    else{
        <b class="finishedRoom">Ya completo la sala!</b>
        <a class="botonMapa" href='@Url.Action("Mapa")'>Volver al Mapa</a>
    }
</body>