<head>
    <script src="~/js/site.js"></script>
</head>
<body>
    @if(!Escape.salasEscapadas[8]){
        <h2 class="Temportizador">Temportizador: <span id="tiempo"></span></h2>

        <div class = "suspenso">
            <audio controls autoplay>
                <source src="~/sounds/MusicaSuspenso.mp3">
            </audio>
        </div>

        <p class="consigna">Entras al baño 1 y te encuentras con 4 cajas que cada una tiene una nota y en una de ellas tiene una parte del codigo para la siguiente sala. Si te equivocas a la hora de elegir, perdes 1 vida. Estas dicen lo siguiente:</p>
        <ul class="ListConsigna">
            <li>Caja 1: La clave no esta aqui</li>
            <li>Caja 2: La nota de la caja 1 dice la verdad</li>
            <li>Caja 3: La nota no esta en la Caja 2</li>
            <li>Caja 4: La caja 3 esta vacia.</li>
        </ul>

        <form action='@Url.Action("Habitacion")'>
            <p class="pregunta">¿Cual es la caja correcta? (Ingrese el numero nada mas.)</p>
            <input class="input" type="number" name="clave" min="1" max="4" autocomplete="off" required>
            <input type="submit" value="Enviar">
        </form>

        @if(ViewBag.Error != null){
            <p class="error">@ViewBag.Error</p>
        }
    }
    else{
        <b class="finishedRoom">Ya completo la sala!</b>
        <a class="botonMapa" href='@Url.Action("Mapa")'>Volver al Mapa</a>
    }
</body>