<body class="Victoria">
    <h1>¡Victoria!</h1>
    <h3>¡Felicidades! Has escapado de esta Grandiosa Sala!</h3>
    <ul>
        <li><a href='@Url.Action("Comenzar")'>Volver a jugar</a></li>
        <li><a href='@Url.Action("Index")'>Volver al Menú</a></li>
        <li><a href='@Url.Action("Creditos")'>Ir a Creditos</a></li>
    </ul>
</body>